
.eg-account-wrapper{
  .eg-account-link{
    display: inline-block;
    color: #222222;
    fill: #222222;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    border-style: solid;
    border-width: 0;
    transition: all 0.3s;

    span{
      text-decoration: none;
    }
    .eg-account-content-wrapper{
      display: flex;
      align-items: center;
    }
    .eg-account-icon{
      svg{
        width: 1em;
        height: auto;
      }
    }
    .eg-align-icon-left{
      margin-right: 5px;
    }
    .eg-align-icon-right{
      margin-left: 5px;
    }
  }
}
