.eg-apps{
  line-height: 0;
  .eg-list-apps{
    .eg-app-item{
      text-align: center;
      .eg-thumbnail{
        overflow: hidden;
        transition: all 0.3s;
      }
      .eg-text{
        margin-top: 14px;
        margin-bottom: 0;
        font-size: 22px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        a{
          color: inherit;
        }
      }
    }
  }
}
