.elementor-widget-eg-button-copy{

  .tooltip{
    position: relative;
    display: inline-block;
    .tooltiptext {
      opacity: 0;
      visibility: hidden;
      display: inline-block;
      text-align: center;
      width: auto;
      font-weight: normal;
      font-size: 12px;
      line-height: 130%;
      color: #ffffff;
      background: #000000;
      border-radius: 4px;
      padding: 3px 6px;
      position: absolute;
      z-index: 1;
      bottom: 110%;
      left: 50%;
      transform: translateX(-50%);
      transition: opacity 0.3s;
      &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 5px;
        border-style: solid;
        border-color: #000000 transparent transparent transparent;
      }
    }
    &:hover{
      .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .eg-button-copy-box{
    display: flex;
    align-items: center;
    .eg-button-copy-wrap{
      display: flex;
      align-items: center;
      .eg-button-copy{
        cursor: pointer;
        line-height: 1;
        display: inline-block;
        margin-left: 10px;
        transition: all 0.3s;
        .eg-icon{
          color: inherit;
          display: block;
          line-height: 0;

          i{
            display: block;
            position: relative;
            width: 1em;
            height: 1em;
            transition: all 0.3s;
            &:before{
              position: absolute;
              left: 50%;
              -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              transform: translateX(-50%);
            }
          }
          svg{
            height: auto;
          }
        }
      }
    }
  }
  .eg-button-copy-wrap{
    .eg-icon{
      color: #6EC1E4;
    }
  }
  &.eg-button-copy--icon-shape-circle{
    .eg-button-copy-wrap{
      .eg-icon{
        border-radius: 50%;
      }
    }
  }
  &.eg-button-copy--icon-shape-square{
    .eg-button-copy-wrap{
      .eg-icon{
        border-radius: 0%;
      }
    }
  }

  &.eg-button-copy--icon-view-stacked{
    .eg-button-copy-wrap{
      .eg-icon{
        padding: 0.5em;
        color: #FFFFFF;
        background-color: #6EC1E4;
      }
    }
  }
  &.eg-button-copy--icon-view-framed{
    .eg-button-copy-wrap{
      .eg-icon{
        padding: 0.5em;
        background-color: transparent;
        border: 2px solid  #6EC1E4;
      }
    }
  }
}
