.elementor-widget-text-editor {
  .elementor-text-editor,
  .elementor-widget-container {
    > * {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.elementor-widget-icon-box {
  .elementor-icon-box-icon {
    line-height: 0;
  }
  .elementor-icon-box-title {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.elementor-widget-icon-list {
  .elementor-icon-list-icon svg {
    margin: 4px !important;
  }
}

.elementor-widget-form {
  textarea,
  input:matches(
    [type="email"],
    [type="number"],
    [type="password"],
    [type="search"],
    [type="tel"],
    [type="text"],
    [type="url"]
  ) {
    -webkit-appearance: none;
  }
  .elementor-field-group .elementor-field-textual:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
