
.elementor-widget-eg-icon-text{
  .eg-icon-box{
    .eg-icon-wrap{
      line-height: 1;
    }
    .eg-icon{
      line-height: 0;
      font-size: 36px;
      display: inline-block;
      color: #6EC1E4;
      transition: all .3s;
      i{
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        position: relative;
        width: 1em;
        height: 1em;
        transition: all .3s;
        &:before{
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
        }
      }
      svg{
        display: block;
        height: auto;
      }
    }
    .eg-content{
      -webkit-box-flex: 1;
      flex-grow: 1;
      .eg-title{
        margin: 0;
        a{
          color: inherit;
        }
      }
    }
  }
}
.eg-icon-box--icon-position-left{
  .eg-icon-box{
    text-align: left;
    display: flex;
    flex-direction: row;
    .eg-icon-wrap{
      margin-right: 12px;
    }
  }
}
.eg-icon-box--icon-position-center{
  .eg-icon-box{
    text-align: center;
    .eg-icon-wrap{
      margin-bottom: 8px;
    }
  }
}
.eg-icon-box--icon-position-right{
  .eg-icon-box{
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    .eg-icon-wrap{
      margin-left: 12px;
    }
  }
}
.eg-icon-box--icon-shape-circle{
  .eg-icon-box{
    .eg-icon{
      border-radius: 50%;
    }
  }
}
.eg-icon-box--icon-shape-square{
  .eg-icon-box{
    .eg-icon{
      border-radius: 0%;
    }
  }
}
.eg-icon-box--icon-view-stacked{
  .eg-icon-box{
    .eg-icon{
      padding: 0.5em;
      background-color:  #6EC1E4;
      color: #FFFFFF;
      fill: #FFFFFF;
    }
  }
}
.eg-icon-box--icon-view-framed{
  .eg-icon-box{
    .eg-icon{
      padding: 0.5em;
      border: 2px solid #6EC1E4;

    }
  }
}
