.elementor-widget-eg-icon-list{
    .eg-icon-list-items{
      display: flex;
      align-items: center;
      justify-content: center;
      ul{
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        li{
          margin-right: 8px;
          margin-bottom: 0;
          line-height: 0;
          &:last-child{
            margin-right: 0;
          }
          .eg-icon-list-icon{
            display: inline-block;
            line-height: 0;
            transition: all 0.3s;
            i{
              transition: all 0.3s;
              color: #6EC1E4;
            }
            svg{
              height: auto;
            }
          }
        }
      }
    }

    &.eg-icon-list--layout-left{
      .eg-icon-list-items{
        justify-content: flex-start;
      }
    }
    &.eg-icon-list--layout-center{
      .eg-icon-list-items{
        justify-content: center;
      }
    }
    &.eg-icon-list--layout-right{
      .eg-icon-list-items{
        justify-content: flex-end;
      }
    }
}
