.eg-icon-box {
  &--icon-position-top {
    .eg-icon-wrap {
      margin-bottom: 15px;
    }
    .eg-icon-box {
      text-align: center;
    }
  }
  &--icon-position-left,
  &--icon-position-right {
    .eg-icon-box {
      display: flex;
      .eg-content {
        width: 100%;
      }
    }
  }
  &--icon-position-left {
    .eg-icon-wrap {
      margin-right: 15px;
    }
  }
  &--icon-position-right {
    .eg-icon-wrap {
      margin-left: 15px;
    }
    .eg-icon-box {
      flex-direction: row-reverse;
      text-align: right;
    }
  }
  &--vertical-align-top {
    .eg-icon-box {
      align-items: flex-start;
    }
  }
  &--vertical-align-middle {
    .eg-icon-box {
      align-items: center;
    }
  }
  &--vertical-align-bottom {
    .eg-icon-box {
      align-items: flex-end;
    }
  }
  &--icon-view-stacked {
    .eg-icon {
      color: #FFFFFF;
      background: #6EC1E4;
      padding: 20px;
    }
  }
  &--icon-view-framed {
    .eg-icon {
      color: #6EC1E4;
      padding: 15px;
      border: 3px solid #6EC1E4;
    }
  }
  &--icon-shape-circle {
    .eg-icon {
      border-radius: 50%;
    }
  }
  &--icon-shape-radius {
    .eg-icon {
      border-radius: 10px;
    }
  }
  &--icon-shape-square {
    .eg-icon {
      border-radius: 0;
    }
  }
  &--extra-link-view-stacked {
    .eg-icon-box .eg-link-btn {
      color: #FFFFFF;
      background: #6EC1E4;
      padding: 10px 20px;
      border-radius: 4px;
    }
  }
  &--extra-link-view-framed {
    .eg-icon-box .eg-link-btn {
      color: #6EC1E4;
      padding: 9px 19px;
      border: 1px solid #6EC1E4;
      border-radius: 4px;
    }
  }
  .eg-icon {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    line-height: 1;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    i,
    svg {
      width: 1em;
      height: 1em;
      &:before {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }
  }
  .eg-title {
    margin: 0 0 15px;
    a {
      color: inherit;
      -webkit-transition: all .3s;
      transition: all .3s;
      &:hover {
        color: #6EC1E4;
      }
    }
  }
  .eg-link-btn {
    display: inline-block;
    color: #6EC1E4;
    margin-top: 20px;
    -webkit-transition: all .3s;
    transition: all .3s;
    &--icon-before {
      i,
      svg {
        margin-right: 4px;
      }
    }
    &--icon-after {
      i,
      svg {
        margin-left: 4px;
      }
    }
    i,
    svg {
      display: inline-block;
    }
  }
}
