.eg-select-layout{
  line-height: 1;
  .eg-select-box{
    display: inline-block;
    box-sizing: border-box;
    width: auto;
    .eg-select-active{
      font-size: 16px;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 8px;
      .eg-selected{
        display: flex;
        align-items: center;
        color: inherit;
        &::before{
          content: "";
          height: 16px;
          width: 16px;
          background-color: currentColor;
          -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' class='icon'%3E%3Cpath d='M8,0C3.6,0,0,3.6,0,8s3.6,8,8,8s8-3.6,8-8S12.4,0,8,0z M13.9,7H12c-0.1-1.5-0.4-2.9-0.8-4.1 C12.6,3.8,13.6,5.3,13.9,7z M8,14c-0.6,0-1.8-1.9-2-5H10C9.8,12.1,8.6,14,8,14z M6,7c0.2-3.1,1.3-5,2-5s1.8,1.9,2,5H6z M4.9,2.9 C4.4,4.1,4.1,5.5,4,7H2.1C2.4,5.3,3.4,3.8,4.9,2.9z M2.1,9H4c0.1,1.5,0.4,2.9,0.8,4.1C3.4,12.2,2.4,10.7,2.1,9z M11.1,13.1 c0.5-1.2,0.7-2.6,0.8-4.1h1.9C13.6,10.7,12.6,12.2,11.1,13.1z'%3E%3C/path%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' class='icon'%3E%3Cpath d='M8,0C3.6,0,0,3.6,0,8s3.6,8,8,8s8-3.6,8-8S12.4,0,8,0z M13.9,7H12c-0.1-1.5-0.4-2.9-0.8-4.1 C12.6,3.8,13.6,5.3,13.9,7z M8,14c-0.6,0-1.8-1.9-2-5H10C9.8,12.1,8.6,14,8,14z M6,7c0.2-3.1,1.3-5,2-5s1.8,1.9,2,5H6z M4.9,2.9 C4.4,4.1,4.1,5.5,4,7H2.1C2.4,5.3,3.4,3.8,4.9,2.9z M2.1,9H4c0.1,1.5,0.4,2.9,0.8,4.1C3.4,12.2,2.4,10.7,2.1,9z M11.1,13.1 c0.5-1.2,0.7-2.6,0.8-4.1h1.9C13.6,10.7,12.6,12.2,11.1,13.1z'%3E%3C/path%3E%3C/svg%3E");
          margin-left: auto;
        }
      }
      img{
        display: none;
      }
      .label{
        margin-left: 6px;
      }
      .eg-arrow{
        margin-left: 16px;
        color: inherit;
        &.down{
          i{
            transform: rotate(180deg);
          }
        }
      }
    }
    .eg-select-list{
      margin-top: 5px;
      padding: 0;
      display: none;
      position: absolute;
      z-index:9;
      left: 0;
      top: 0;
      width: 200px;
      background-color: transparent;
      .eg-select-option{
        padding: 8px;
        margin-bottom: 0;
        text-align: center;
        list-style:none;
        position:relative;
        z-index:99;
        background-color: #FAFAFA;
        border-style: solid;
        transition: all 0.3s;
        &:hover{
          background-color: #f1f1f1;
        }
        &.selected{
          background-color: #6EC1E4;
          .eg-option{
            color: #FFFFFF;
            &::after{
              content: "";
              height: 16px;
              width: 16px;
              background-color: currentColor;
              -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNic+PHBvbHlsaW5lIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlPScjZmZmZmZmJyBmaWxsPSdub25lJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIHBvaW50cz0nMSw5IDUsMTMgMTUsMyAnLz48L3N2Zz4=);
              mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNic+PHBvbHlsaW5lIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlPScjZmZmZmZmJyBmaWxsPSdub25lJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIHBvaW50cz0nMSw5IDUsMTMgMTUsMyAnLz48L3N2Zz4=);
              margin-left: auto;
            }
          }
        }
        a{
          color: inherit;
        }
        img{
          display: none;
          margin-right: 6px;
        }
      }
    }
    .eg-option{
      cursor: pointer;
      display: flex;
      align-items: center;
      img{
        width: 24px;
        height: auto;
      }
      .label{
        line-height: 1.25;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.eg-language-switcher--view-flags{
  .eg-select-layout{
    .eg-select-active{
      .eg-selected{
        &::before{
          display: none;
        }
        img{
          display: block;
        }
      }
    }
    .eg-select-list{
      .eg-select-option{
        img{
          display: block;
        }
      }
    }
  }
}
.eg-language-switcher--view-hide-label{
  .eg-select-layout{
    .eg-select-active{
      .eg-selected{
        &::before{
          display: none;
        }
        img{
          display: block;
        }
        .label{
          display: none;
        }
      }
    }
    .eg-select-list{
      .eg-select-option{
        img{
          display: block;
        }
      }
    }
  }
}
