.eg-members {
  &--social-view-stacked {
    .eg-member{
      .eg-member__socials a {
        color: #FFFFFF;
        background: #6EC1E4;
        padding: 10px;
        &.eg-member__facebook{
          background: #186CB0;
        }
        &.eg-member__instagram{
          background: #E22E04;
        }
        &.eg-member__twitter{
          background: #00B3D3;
        }
        &.eg-member__linkedin{
          background: #074682;
        }
      }
    }
  }
  &--social-view-framed {
    .eg-member{
      .eg-member__socials a {
        color: #6EC1E4;
        padding: 9px;
        border: 1px solid #6EC1E4;
      }
    }
  }

  &--skin-default {
    .eg-member {
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      text-align: center;
      -webkit-transition: all .3s;
      transition: all .3s;
      &__featured {
        position: relative;
        overflow: hidden;
        background: #e5e5e5;
        padding-bottom: 110%;
        border-radius: 4px;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          -webkit-transition: all .3s;
          transition: all .3s;
        }
      }
      &__content {
        padding-top: 20px;
      }
      &__title {
        font-size: 22px;
        margin: 0;
        a {
          color: inherit;
          -webkit-transition: all .3s;
          transition: all .3s;
        }
      }
      &__job {
        margin-top: 4px;
      }
      &__socials {
        margin-top: 15px;
        a {
          position: relative;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          line-height: 1;
          color: #6EC1E4;
          margin: 4px;
          -webkit-transition: all .3s;
          transition: all .3s;
          i,
          svg {
            width: 1em;
            height: 1em;
            &:before {
              position: absolute;
              left: 50%;
              -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
            }
          }
        }
      }
    }
  }

  &--skin-overlay {
    .eg-member {
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      text-align: center;
      -webkit-transition: all .3s;
      transition: all .3s;
      &__featured {
        position: relative;
        overflow: hidden;
        background: #e5e5e5;
        padding-bottom: 110%;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(19, 5, 35, 0.2);
        padding: 15px;
      }
      &__title {
        font-size: 22px;
        color: #FFFFFF;
        margin: 0;
        a {
          color: inherit;
          -webkit-transition: all .3s;
          transition: all .3s;
        }
      }
      &__job {
        margin-top: 4px;
        color: #FFFFFF;
      }
    }
  }

  &--skin-qingshui{
    .eg-member{
      position: relative;
      transition: all 0.3s;
      &:hover{
        .eg-member__contact{
          opacity: 1;
        }
      }
      &__thumbnail{
        position: relative;
        img{
          min-height: 330px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          -webkit-transition: all .3s;
          transition: all .3s;
        }
      }
      &__featured{
        position: relative;
        overflow: hidden;
        background: #e5e5e5;
        padding-bottom: 100%;
      }

      &__contact{
        opacity: 0;
        padding: 40px 40px 50px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        text-align: left;
        background: rgba(247, 228, 6, 0.85);
        transition: all 0.3s;
      }
      &__phone-email{
        margin-right: 16px;
        font-size: 18px;
        line-height: 111%;
        color: #12141D;
        font-weight: 600;
        a{
          display: flex;
          align-items: center;
          color: inherit;
          svg{
            width: 16px;
            height: 16px;
            margin-right: 8px;
          }
        }
      }
      &__email{
        margin-top: 8px;
      }
      &__socials {
        display: flex;
        flex-direction: column;
        transition: all 0.3s;
        a{
          width: max-content;
          display: inline-block;
          border-radius: 50%;
          line-height: 0;
          font-size: 18px;
          margin: 4px;
          i,
          svg {
            width: 1.2em;
            height: 1.2em;
            &:before {
              position: absolute;
              left: 50%;
              -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
            }
          }
        }

      }

      &__content{
        padding: 30px 30px 0;
        text-align: left;
      }
      &__title{
        font-weight: 600;
        font-size: 28px;
        line-height: 133.2%;
        margin: 0;
        a{
          color: inherit;
        }
      }
      &__job{
        margin-top: 10px;
        font-weight: 600;
        font-size: 15px;
        line-height: 153.7%;
        color: #F7E406;
        text-transform: uppercase;
      }

      @media(max-width: 768px - 0.02){
        &__contact{
          padding: 30px 30px 40px;
        }
      }
    }

  }

  &--skin-puli{
    .eg-member{
      position: relative;
      transition: all 0.3s;
      &:hover{
        .eg-member__contact{
          opacity: 1;
        }
      }
      &__thumbnail{
        position: relative;
        img{
          min-height: 330px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          -webkit-transition: all .3s;
          transition: all .3s;
        }
      }
      &__featured{
        position: relative;
        overflow: hidden;
        background: #e5e5e5;
        padding-bottom: 100%;
        border-radius: 4px;
      }

      &__contact{
        opacity: 0;
        padding: 40px 40px 50px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: right;
        align-items: flex-end;
        text-align: left;
        transition: all 0.3s;
      }

      &__socials {
        display: flex;
        flex-direction: column;
        transition: all 0.3s;
        a{
          width: max-content;
          display: inline-block;
          border-radius: 50%;
          line-height: 0;
          font-size: 18px;
          margin: 4px;
          i,
          svg {
            width: 1.2em;
            height: 1.2em;
            &:before {
              position: absolute;
              left: 50%;
              -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
            }
          }
        }
      }

      &__content{
        padding: 24px;
        text-align: left;
      }
      &__title{
        font-weight: 600;
        font-size: 22px;
        line-height: 133.2%;
        margin-top: 4px;
        margin-bottom: 0;
        color: #163967;
        a{
          color: inherit;
        }
      }
      &__job{
        font-weight: 600;
        font-size: 15px;
        line-height: 153.7%;
        text-transform: uppercase;
        color: #EF3D5B;
      }

      @media(max-width: 768px - 0.02){
        &__contact{
          padding: 30px 30px 40px;
        }
      }
    }

  }

  &--skin-duge {
    .eg-member {
      transition: all 0.3s;
      &:hover{
        .eg-member__content{
          background: rgba(213, 149, 120, 0.85);
        }
        .eg-member__job{
          color: #FFFFFF;
        }
      }
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      text-align: center;
      -webkit-transition: all .3s;
      transition: all .3s;
      &__featured {
        position: relative;
        overflow: hidden;
        background: #e5e5e5;
        padding-bottom: 110%;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
      }
      &__box{

      }
      &__title {
        font-size: 32px;
        color: #FFFFFF;
        margin: 5px 0 0;
        a {
          color: inherit;
          -webkit-transition: all .3s;
          transition: all .3s;
        }
      }
      &__job {
        transition: all 0.3s;
        text-transform: uppercase;
        color: #D59578;
      }
      &__socials {
        margin-top: 16px;
        a{
          width: max-content;
          display: inline-block;
          border-radius: 50%;
          line-height: 0;
          font-size: 18px;
          margin: 4px;
          i,
          svg {
            width: 1.2em;
            height: 1.2em;
            &:before {
              position: absolute;
              left: 50%;
              -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
            }
          }
        }
      }
    }
  }

}
