.eg-relaunch-plan {
  &--skin-default {
    overflow: auto;
    &::-webkit-scrollbar{
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb{
      background: #B3AFB3;
      border-radius: 8px;
    }
    &::-webkit-scrollbar-thumb:hover{
      background: #B3AFB3;
    }
    &::-webkit-scrollbar-track{
      background: #F0F0F0;
      border-radius: 8px;
      -webkit-box-shadow: inset 0px 0px 0px 0px #F0F0F0;
      box-shadow: inset 0px 0px 0px 0px #F0F0F0;
    }
    .eg-phases {
      display: flex;
      padding: 15px 0;
    }
    .eg-phase {
      min-width: 320px;
      &:not(:last-child) {
        margin-right: 30px;
      }
      .eg-count {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.5;
        color: #6EC1E4;
      }
      .eg-title {
        font-size: 30px;
        font-weight: 700;
        line-height: 1.4;
        color: #151515;
        margin: 0;
      }
      .eg-content {
        font-size: 18px;
        line-height: 1.56;
        color: #151515;
        margin-top: 15px;
        > * {
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
        ul {
          padding-left: 20px;
          column-count: 2;
          column-gap: 30px;
          li {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  &--skin-vertical {
    display: flex;
    padding: 40px 0 40px 30px;
    .eg-line {
      position: relative;
      width: 4px;
      background: #EEEEEE;
      border-radius: 5px;
      .eg-label {
        position: absolute;
        bottom: calc(100% + 10px);
        left: 50%;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.5;
        color: #151515;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        &.eg-end-label {
          top: calc(100% + 10px);
          bottom: auto;
        }
      }
    }
    .eg-phases {
      width: calc(100% - 4px);
      .eg-phase {
        position: relative;
        padding: 0 0 30px 115px;
        &:before {
          content: "";
          position: absolute;
          top: 10px;
          left: -11px;
          width: 18px;
          height: 18px;
          background: #6EC1E4;
          border: 2px solid #EEEEEE;
          border-radius: 10px;
          -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        &:after {
          content: "";
          position: absolute;
          top: 18px;
          left: 20px;
          width: 78px;
          height: 1px;
          background: #EEEEEE;
        }
        .eg-count {
          font-size: 24px;
          font-weight: 700;
          line-height: 1.5;
          color: #6EC1E4;
        }
        .eg-title {
          font-size: 30px;
          font-weight: 700;
          line-height: 1.4;
          color: #151515;
          margin: 0;
        }
        .eg-content {
          font-size: 18px;
          line-height: 1.56;
          color: #151515;
          margin-top: 15px;
          > * {
            &:first-child {
              margin-top: 0;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
          ul {
            padding-left: 20px;
            column-count: 2;
            column-gap: 30px;
            li {
              margin-bottom: 5px;
            }
          }
        }
      }
    }

    @media (max-width: 1200px - 0.02) {
      .eg-line .eg-label {
        font-size: 20px;
      }
      .eg-phases .eg-phase {
        padding-left: 85px;
        &:before {
          top: 6px;
        }
        &:after {
          top: 15px;
          width: 50px;
        }
        .eg-count {
          font-size: 20px;
        }
        .eg-title {
          font-size: 24px;
        }
        .eg-content {
          font-size: 16px;
        }
      }
    }

    @media (max-width: 768px - 0.02) {
      .eg-line .eg-label {
        font-size: 18px;
      }
      .eg-phases .eg-phase {
        padding-left: 55px;
        &:before {
          top: 4px;
        }
        &:after {
          top: 13px;
          width: 20px;
        }
        .eg-count {
          font-size: 18px;
        }
        .eg-title {
          font-size: 20px;
        }
        .eg-content {
          font-size: 16px;
          ul {
            column-count: unset;
            column-gap: unset;
          }
        }
      }
    }
  }
}
