.eg-scrolling-list{
  overflow: hidden;
  .eg-scroll-text{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size: 24px;
    &::-webkit-scrollbar{
      display: none;
    }
  }
}
