.has-show-more {
  .elementor-item {
    display: none;
  }
}

.eg-show-more--btn-view-stacked {
  .eg-show-more {
    a {
      color: #FFFFFF;
      background: #6EC1E4;
      padding: 10px 20px;
      border-radius: 4px;
    }
  }
}
.eg-show-more--btn-view-framed {
  .eg-show-more {
    a {
      color: #6EC1E4;
      padding: 9px 19px;
      border: 1px solid #6EC1E4;
      border-radius: 4px;
    }
  }
}
.eg-show-more {
  text-align: center;
  margin-top: 40px;
  a {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    color: #6EC1E4;
    -webkit-transition: all .3s;
    transition: all .3s;
    &.eg-show-less-btn {
      display: none;
    }
  }
}
