.eg-testimonials{
  &--skin-horizontal{
    .eg-testimonial{
      flex-direction: row;
      align-items: center;
      text-align: left;
      overflow: visible;
      .eg-thumbnail-wrap{
        position: relative;
        .eg-thumbnail{
          width: 136px;
          height: 136px;
        }
        .eg-qoute-icon{
          position: absolute;
          bottom: -10px;
          right: -10px;
          padding: 20px;
          border-radius: 50%;
          background-color: #0C0D13;
          line-height: 1;
          z-index: 9;
          display: flex;
          align-items: center;
          justify-content: center;
          svg{
            width: 20px;
            height: 20px;
          }
        }

      }
      .eg-content {
        flex: 1;
        padding-top: 0;
        padding-left: 60px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .eg-desc-inner{
          padding-right: 40px;
          width: 66%;
        }
        .eg-info-inner{
          width: 34%;
          min-width: 120px;
        }
        .eg-desc{
          font-style: italic;
          font-weight: 600;
          font-size: 18px;
          line-height: 160%;
        }
        .elementor-star-rating{
          margin-bottom: 0;
          i{
            &::before{
              color: #F7E406;
            }
          }
        }
        .eg-name{
          font-weight: bold;
          font-size: 30px;
        }
        .eg-job{
          margin-top: 6px;
          font-size: 16px;
          line-height: 150%;
          text-transform: uppercase;
        }
      }
      @media(max-width: 1024.98px){
        .eg-thumbnail-wrap{
          .eg-thumbnail{
            width: 120px;
            height: 120px;
          }
          .eg-qoute-icon{
            padding: 18px;
          }
        }
        .eg-content {
          padding-left: 40px;
          .eg-desc-inner{
            padding-right: 30px;
          }
        }
      }
      @media(max-width: 767.98px){
        .eg-thumbnail-wrap{
          .eg-thumbnail{
            width: 110px;
            height: 110px;
          }
          .eg-qoute-icon{
            right: -8px;
            bottom: -8px;
            padding: 16px;
            svg{
              width: 18px;
              height: 18px;
            }
          }
        }
        .eg-content {
          padding-left: 25px;
          .eg-desc-inner{
            padding-right: 0;
            width: 100%;
          }
          .eg-info-inner{
            margin-top: 12px;
            width: 100%;
          }
        }
      }
      @media(max-width: 360px){
        .eg-thumbnail-wrap{
          .eg-thumbnail{
            width: 100px;
            height: 100px;
            svg{
              width: 16px;
              height: 16px;
            }
          }
          .eg-qoute-icon{
            right: -5px;
            bottom: -5px;
            padding: 10px;
          }
        }
        .eg-content {
          padding-left: 16px;
        }
      }
    }
  }
  &--skin-yachi{
    .eg-testimonial{
      text-align: left;
      background-color: rgba(255, 255, 255, 0.95);
      border: 10px solid rgba(255, 255, 255, 0.3);
      background-clip: padding-box;
      border-radius: 20px;
      padding: 60px;
      .eg-content{
        padding: 0;
        .eg-desc{
          margin-bottom: 0;
          font-weight: 500;
          font-size: 21px;
          line-height: 160%;
          color: #555555;
          font-style: italic;
        }
        .eg-info-inner{
          margin-top: 40px;
          display: flex;
          align-items: center;
        }
        .eg-qoute-icon{
          line-height: 160%;
          svg{
            width: 32px;
            height: auto;
          }
        }
        .eg-info{
          padding-left: 30px;
        }
        .eg-name{
          font-weight: bold;
          font-size: 28px;
          line-height: 133%;
          color: #222222;
        }
        .eg-job{
          margin-top: 2px;
          font-weight: 600;
          font-size: 16px;
          line-height: 153%;
          color: #F64D52;
          text-transform: uppercase;
        }
      }
    }
  }
  &--skin-sidu{
    .eg-testimonial{
      padding: 44px 60px;
      flex-direction: row;
      align-items: flex-start;
      text-align: left;
      overflow: visible;
      .eg-thumbnail-wrap{
        position: relative;
        .eg-thumbnail{
          width: 100px;
          height: 100px;
        }
        .eg-qoute-icon{
          position: absolute;
          bottom: -8px;
          right: -8px;
          padding: 10px;
          border-radius: 50%;
          background-color: #FFFFFF;
          line-height: 1;
          z-index: 9;
          display: flex;
          align-items: center;
          justify-content: center;
          svg{
            width: 16px;
            height: 16px;
            path{
              fill: #7567F8;
            }
          }
        }
      }
      .eg-content {
        padding-top: 0;
        padding-left: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .eg-desc{
          color: #555555;
          font-style: italic;
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;
          margin-bottom: 24px;
        }
        .eg-info-inner{
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: baseline;
        }
        .elementor-star-rating{
          margin-bottom: 0;
          i{
            &::before{
              color: #D7DB17;
            }
          }
        }
        .eg-name{
          font-weight: bold;
          font-size: 20px;
          color: #222222;
        }
        .eg-job{
          margin-top: 6px;
          font-size: 14px;
          line-height: 150%;
          color: #7567F8;
          text-transform: uppercase;
        }
      }
      @media(max-width: 1024.98px){
        padding: 40px;
        .eg-content {
          padding-left: 20px;
        }
      }
      @media(max-width: 375px){
        .eg-content {
          padding-left: 16px;
          .eg-info-inner{
            flex-direction: column;
          }
        }
      }
    }
  }
}

.eg-testimonial {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  .eg-thumbnail-wrap {
    line-height: 0;
    .eg-thumbnail {
      position: relative;
      display: inline-block;
      width: 120px;
      height: 120px;
      overflow: hidden;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -webkit-transition: all .3s;
        transition: all .3s;
      }
    }
  }

  .eg-content {
    padding-top: 20px;
    .eg-desc {
      margin-bottom: 12px;
    }
    .eg-rating {
      margin-bottom: 12px;
      i {
        font-size: 14px;
        &:not(:last-child) {
          margin-right: 2px;
        }
      }
    }
    .eg-name {
      font-size: 22px;
      margin: 0;
    }
    .eg-job {
      margin-top: 4px;
    }
  }
}

.elementor-star-rating{color:#ccd6df;font-family:eicons;display:inline-block}
.elementor-star-rating i{display:inline-block;position:relative;font-style:normal;cursor:default}
.elementor-star-rating i:before{content:"\e934";display:block;font-size:inherit;font-family:inherit;position:absolute;overflow:hidden;color:#f0ad4e;top:0;left:0}
.elementor-star-rating .elementor-star-empty:before{content:none}
.elementor-star-rating .elementor-star-1:before{width:10%}
.elementor-star-rating .elementor-star-2:before{width:20%}
.elementor-star-rating .elementor-star-3:before{width:30%}
.elementor-star-rating .elementor-star-4:before{width:40%}
.elementor-star-rating .elementor-star-5:before{width:50%}
.elementor-star-rating .elementor-star-6:before{width:60%}
.elementor-star-rating .elementor-star-7:before{width:70%}
.elementor-star-rating .elementor-star-8:before{width:80%}
.elementor-star-rating .elementor-star-9:before{width:90%}
.last-star{letter-spacing:0}
