.eg-apps { line-height: 0; }
.eg-apps .eg-list-apps .eg-app-item { text-align: center; }
.eg-apps .eg-list-apps .eg-app-item .eg-thumbnail { overflow: hidden; transition: all 0.3s; }
.eg-apps .eg-list-apps .eg-app-item .eg-text { margin-top: 14px; margin-bottom: 0; font-size: 22px; -webkit-transition: all 0.3s; transition: all 0.3s; }
.eg-apps .eg-list-apps .eg-app-item .eg-text a { color: inherit; }
