.elementor-element .icon .eg-icon:before { content: ""; background-image: url(../images/e-icon.png); display: inline-block; width: 28px; height: 28px; background-size: contain; background-repeat: no-repeat; background-position: center center; }
