.eg-icon-box--icon-position-top .eg-icon-wrap { margin-bottom: 15px; }
.eg-icon-box--icon-position-top .eg-icon-box { text-align: center; }
.eg-icon-box--icon-position-left .eg-icon-box, .eg-icon-box--icon-position-right .eg-icon-box { display: flex; }
.eg-icon-box--icon-position-left .eg-icon-box .eg-content, .eg-icon-box--icon-position-right .eg-icon-box .eg-content { width: 100%; }
.eg-icon-box--icon-position-left .eg-icon-wrap { margin-right: 15px; }
.eg-icon-box--icon-position-right .eg-icon-wrap { margin-left: 15px; }
.eg-icon-box--icon-position-right .eg-icon-box { flex-direction: row-reverse; text-align: right; }
.eg-icon-box--vertical-align-top .eg-icon-box { align-items: flex-start; }
.eg-icon-box--vertical-align-middle .eg-icon-box { align-items: center; }
.eg-icon-box--vertical-align-bottom .eg-icon-box { align-items: flex-end; }
.eg-icon-box--icon-view-stacked .eg-icon { color: #FFFFFF; background: #6EC1E4; padding: 20px; }
.eg-icon-box--icon-view-framed .eg-icon { color: #6EC1E4; padding: 15px; border: 3px solid #6EC1E4; }
.eg-icon-box--icon-shape-circle .eg-icon { border-radius: 50%; }
.eg-icon-box--icon-shape-radius .eg-icon { border-radius: 10px; }
.eg-icon-box--icon-shape-square .eg-icon { border-radius: 0; }
.eg-icon-box--extra-link-view-stacked .eg-icon-box .eg-link-btn { color: #FFFFFF; background: #6EC1E4; padding: 10px 20px; border-radius: 4px; }
.eg-icon-box--extra-link-view-framed .eg-icon-box .eg-link-btn { color: #6EC1E4; padding: 9px 19px; border: 1px solid #6EC1E4; border-radius: 4px; }
.eg-icon-box .eg-icon { position: relative; display: inline-flex; align-items: center; justify-content: center; font-size: 50px; line-height: 1; text-align: center; -webkit-transition: all .3s; transition: all .3s; }
.eg-icon-box .eg-icon i, .eg-icon-box .eg-icon svg { width: 1em; height: 1em; }
.eg-icon-box .eg-icon i:before, .eg-icon-box .eg-icon svg:before { position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.eg-icon-box .eg-title { margin: 0 0 15px; }
.eg-icon-box .eg-title a { color: inherit; -webkit-transition: all .3s; transition: all .3s; }
.eg-icon-box .eg-title a:hover { color: #6EC1E4; }
.eg-icon-box .eg-link-btn { display: inline-block; color: #6EC1E4; margin-top: 20px; -webkit-transition: all .3s; transition: all .3s; }
.eg-icon-box .eg-link-btn--icon-before i, .eg-icon-box .eg-link-btn--icon-before svg { margin-right: 4px; }
.eg-icon-box .eg-link-btn--icon-after i, .eg-icon-box .eg-link-btn--icon-after svg { margin-left: 4px; }
.eg-icon-box .eg-link-btn i, .eg-icon-box .eg-link-btn svg { display: inline-block; }
