.elementor-widget-eg-icon-list .eg-icon-list-items { display: flex; align-items: center; justify-content: center; }
.elementor-widget-eg-icon-list .eg-icon-list-items ul { display: flex; align-items: center; list-style: none; padding: 0; margin: 0; }
.elementor-widget-eg-icon-list .eg-icon-list-items ul li { margin-right: 8px; margin-bottom: 0; line-height: 0; }
.elementor-widget-eg-icon-list .eg-icon-list-items ul li:last-child { margin-right: 0; }
.elementor-widget-eg-icon-list .eg-icon-list-items ul li .eg-icon-list-icon { display: inline-block; line-height: 0; transition: all 0.3s; }
.elementor-widget-eg-icon-list .eg-icon-list-items ul li .eg-icon-list-icon i { transition: all 0.3s; color: #6EC1E4; }
.elementor-widget-eg-icon-list .eg-icon-list-items ul li .eg-icon-list-icon svg { height: auto; }
.elementor-widget-eg-icon-list.eg-icon-list--layout-left .eg-icon-list-items { justify-content: flex-start; }
.elementor-widget-eg-icon-list.eg-icon-list--layout-center .eg-icon-list-items { justify-content: center; }
.elementor-widget-eg-icon-list.eg-icon-list--layout-right .eg-icon-list-items { justify-content: flex-end; }
