.eg-members--social-view-stacked .eg-member .eg-member__socials a { color: #FFFFFF; background: #6EC1E4; padding: 10px; }
.eg-members--social-view-stacked .eg-member .eg-member__socials a.eg-member__facebook { background: #186CB0; }
.eg-members--social-view-stacked .eg-member .eg-member__socials a.eg-member__instagram { background: #E22E04; }
.eg-members--social-view-stacked .eg-member .eg-member__socials a.eg-member__twitter { background: #00B3D3; }
.eg-members--social-view-stacked .eg-member .eg-member__socials a.eg-member__linkedin { background: #074682; }
.eg-members--social-view-framed .eg-member .eg-member__socials a { color: #6EC1E4; padding: 9px; border: 1px solid #6EC1E4; }
.eg-members--skin-default .eg-member { position: relative; overflow: hidden; display: flex; flex-direction: column; text-align: center; -webkit-transition: all .3s; transition: all .3s; }
.eg-members--skin-default .eg-member__featured { position: relative; overflow: hidden; background: #e5e5e5; padding-bottom: 110%; border-radius: 4px; }
.eg-members--skin-default .eg-member__featured img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; -webkit-transition: all .3s; transition: all .3s; }
.eg-members--skin-default .eg-member__content { padding-top: 20px; }
.eg-members--skin-default .eg-member__title { font-size: 22px; margin: 0; }
.eg-members--skin-default .eg-member__title a { color: inherit; -webkit-transition: all .3s; transition: all .3s; }
.eg-members--skin-default .eg-member__job { margin-top: 4px; }
.eg-members--skin-default .eg-member__socials { margin-top: 15px; }
.eg-members--skin-default .eg-member__socials a { position: relative; display: inline-flex; align-items: center; justify-content: center; font-size: 16px; line-height: 1; color: #6EC1E4; margin: 4px; -webkit-transition: all .3s; transition: all .3s; }
.eg-members--skin-default .eg-member__socials a i, .eg-members--skin-default .eg-member__socials a svg { width: 1em; height: 1em; }
.eg-members--skin-default .eg-member__socials a i:before, .eg-members--skin-default .eg-member__socials a svg:before { position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.eg-members--skin-overlay .eg-member { position: relative; overflow: hidden; display: flex; flex-direction: column; text-align: center; -webkit-transition: all .3s; transition: all .3s; }
.eg-members--skin-overlay .eg-member__featured { position: relative; overflow: hidden; background: #e5e5e5; padding-bottom: 110%; }
.eg-members--skin-overlay .eg-member__featured img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.eg-members--skin-overlay .eg-member__content { position: absolute; bottom: 0; left: 0; width: 100%; background: rgba(19, 5, 35, 0.2); padding: 15px; }
.eg-members--skin-overlay .eg-member__title { font-size: 22px; color: #FFFFFF; margin: 0; }
.eg-members--skin-overlay .eg-member__title a { color: inherit; -webkit-transition: all .3s; transition: all .3s; }
.eg-members--skin-overlay .eg-member__job { margin-top: 4px; color: #FFFFFF; }
.eg-members--skin-qingshui .eg-member { position: relative; transition: all 0.3s; }
.eg-members--skin-qingshui .eg-member:hover .eg-member__contact { opacity: 1; }
.eg-members--skin-qingshui .eg-member__thumbnail { position: relative; }
.eg-members--skin-qingshui .eg-member__thumbnail img { min-height: 330px; position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; -webkit-transition: all .3s; transition: all .3s; }
.eg-members--skin-qingshui .eg-member__featured { position: relative; overflow: hidden; background: #e5e5e5; padding-bottom: 100%; }
.eg-members--skin-qingshui .eg-member__contact { opacity: 0; padding: 40px 40px 50px; position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: space-between; align-items: flex-end; text-align: left; background: rgba(247, 228, 6, 0.85); transition: all 0.3s; }
.eg-members--skin-qingshui .eg-member__phone-email { margin-right: 16px; font-size: 18px; line-height: 111%; color: #12141D; font-weight: 600; }
.eg-members--skin-qingshui .eg-member__phone-email a { display: flex; align-items: center; color: inherit; }
.eg-members--skin-qingshui .eg-member__phone-email a svg { width: 16px; height: 16px; margin-right: 8px; }
.eg-members--skin-qingshui .eg-member__email { margin-top: 8px; }
.eg-members--skin-qingshui .eg-member__socials { display: flex; flex-direction: column; transition: all 0.3s; }
.eg-members--skin-qingshui .eg-member__socials a { width: max-content; display: inline-block; border-radius: 50%; line-height: 0; font-size: 18px; margin: 4px; }
.eg-members--skin-qingshui .eg-member__socials a i, .eg-members--skin-qingshui .eg-member__socials a svg { width: 1.2em; height: 1.2em; }
.eg-members--skin-qingshui .eg-member__socials a i:before, .eg-members--skin-qingshui .eg-member__socials a svg:before { position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.eg-members--skin-qingshui .eg-member__content { padding: 30px 30px 0; text-align: left; }
.eg-members--skin-qingshui .eg-member__title { font-weight: 600; font-size: 28px; line-height: 133.2%; margin: 0; }
.eg-members--skin-qingshui .eg-member__title a { color: inherit; }
.eg-members--skin-qingshui .eg-member__job { margin-top: 10px; font-weight: 600; font-size: 15px; line-height: 153.7%; color: #F7E406; text-transform: uppercase; }
@media (max-width: 767.98px) { .eg-members--skin-qingshui .eg-member__contact { padding: 30px 30px 40px; } }
.eg-members--skin-puli .eg-member { position: relative; transition: all 0.3s; }
.eg-members--skin-puli .eg-member:hover .eg-member__contact { opacity: 1; }
.eg-members--skin-puli .eg-member__thumbnail { position: relative; }
.eg-members--skin-puli .eg-member__thumbnail img { min-height: 330px; position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; -webkit-transition: all .3s; transition: all .3s; }
.eg-members--skin-puli .eg-member__featured { position: relative; overflow: hidden; background: #e5e5e5; padding-bottom: 100%; border-radius: 4px; }
.eg-members--skin-puli .eg-member__contact { opacity: 0; padding: 40px 40px 50px; position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: right; align-items: flex-end; text-align: left; transition: all 0.3s; }
.eg-members--skin-puli .eg-member__socials { display: flex; flex-direction: column; transition: all 0.3s; }
.eg-members--skin-puli .eg-member__socials a { width: max-content; display: inline-block; border-radius: 50%; line-height: 0; font-size: 18px; margin: 4px; }
.eg-members--skin-puli .eg-member__socials a i, .eg-members--skin-puli .eg-member__socials a svg { width: 1.2em; height: 1.2em; }
.eg-members--skin-puli .eg-member__socials a i:before, .eg-members--skin-puli .eg-member__socials a svg:before { position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.eg-members--skin-puli .eg-member__content { padding: 24px; text-align: left; }
.eg-members--skin-puli .eg-member__title { font-weight: 600; font-size: 22px; line-height: 133.2%; margin-top: 4px; margin-bottom: 0; color: #163967; }
.eg-members--skin-puli .eg-member__title a { color: inherit; }
.eg-members--skin-puli .eg-member__job { font-weight: 600; font-size: 15px; line-height: 153.7%; text-transform: uppercase; color: #EF3D5B; }
@media (max-width: 767.98px) { .eg-members--skin-puli .eg-member__contact { padding: 30px 30px 40px; } }
.eg-members--skin-duge .eg-member { transition: all 0.3s; position: relative; overflow: hidden; display: flex; flex-direction: column; text-align: center; -webkit-transition: all .3s; transition: all .3s; }
.eg-members--skin-duge .eg-member:hover .eg-member__content { background: rgba(213, 149, 120, 0.85); }
.eg-members--skin-duge .eg-member:hover .eg-member__job { color: #FFFFFF; }
.eg-members--skin-duge .eg-member__featured { position: relative; overflow: hidden; background: #e5e5e5; padding-bottom: 110%; }
.eg-members--skin-duge .eg-member__featured img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.eg-members--skin-duge .eg-member__content { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); padding: 15px; display: flex; flex-direction: column; justify-content: center; align-items: center; transition: all 0.3s; }
.eg-members--skin-duge .eg-member__title { font-size: 32px; color: #FFFFFF; margin: 5px 0 0; }
.eg-members--skin-duge .eg-member__title a { color: inherit; -webkit-transition: all .3s; transition: all .3s; }
.eg-members--skin-duge .eg-member__job { transition: all 0.3s; text-transform: uppercase; color: #D59578; }
.eg-members--skin-duge .eg-member__socials { margin-top: 16px; }
.eg-members--skin-duge .eg-member__socials a { width: max-content; display: inline-block; border-radius: 50%; line-height: 0; font-size: 18px; margin: 4px; }
.eg-members--skin-duge .eg-member__socials a i, .eg-members--skin-duge .eg-member__socials a svg { width: 1.2em; height: 1.2em; }
.eg-members--skin-duge .eg-member__socials a i:before, .eg-members--skin-duge .eg-member__socials a svg:before { position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
