.eg-list-partners .eg-partner-item .eg-thumbnail { display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; line-height: 0; overflow: hidden; transition: all 0.3s; }
.eg-list-partners .eg-partner-item .eg-thumbnail img { -webkit-transition: all .3s; transition: all .3s; }
