.eg-phases .eg-list-phases .eg-phase-item { border-style: solid; border-width: 0; }
.eg-phases .eg-list-phases .eg-phase-item .eg-phase-heading .eg-phase-step { font-size: 18px; }
.eg-phases .eg-list-phases .eg-phase-item .eg-phase-heading .eg-phase-title { margin-bottom: 0; font-size: 22px; }
.eg-phases .eg-list-phases .eg-phase-item .eg-phase-content { margin-top: 24px; }
.eg-phases .eg-list-phases .eg-phase-item .eg-phase-content ul { padding-left: 0; list-style: none; }
.eg-phases .eg-list-phases .eg-phase-item .eg-phase-content ul li { position: relative; display: flex; margin-bottom: 16px; font-size: 18px; }
.eg-phases .eg-list-phases .eg-phase-item .eg-phase-content ul li::before { display: inline-block; content: ''; min-width: 24px; width: 24px; height: 24px; margin-right: 12px; background-color: transparent; background-repeat: no-repeat; background-size: cover; background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle opacity='0.7' cx='12' cy='12' r='11' stroke='%233671E9' stroke-width='2'/%3E%3C/svg%3E%0A"); }
.eg-phases .eg-list-phases .eg-phase-item .eg-phase-content ul li.active::before { background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1016_8875)'%3E%3Cpath d='M12.0003 0.00053722C18.6276 0.00053722 24.0002 5.37312 24.0002 12.0005C24.0002 18.6279 18.6276 24.0005 12.0003 24.0005C5.37288 24.0005 0.000293915 18.6279 0.000293915 12.0005C-0.0185639 5.39192 5.32342 0.019395 11.9319 0.00053722C11.9547 0.000471968 11.9775 0.000471968 12.0003 0.00053722Z' fill='%233671E9'/%3E%3Cpath d='M18.6477 8.69325L10.125 17.2159L5.35229 12.4773L7.2955 10.5683L10.125 13.3637L16.7046 6.78418L18.6477 8.69325Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1016_8875'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A"); }
.eg-phases .eg-list-phases .eg-phase-item .eg-phase-content ul li:last-child { margin-bottom: 0; }
