.eg-posts--skin-default .eg-post { position: relative; -webkit-transition: all .3s; transition: all .3s; margin-bottom: 0; }
.eg-posts--skin-default .eg-post__featured { position: relative; overflow: hidden; background: #e5e5e5; padding-bottom: 66%; border-radius: 4px; }
.eg-posts--skin-default .eg-post__featured img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.eg-posts--skin-default .eg-post__content { padding-top: 20px; }
.eg-posts--skin-default .eg-post__title { font-size: 22px; margin: 0; }
.eg-posts--skin-default .eg-post__title a { color: inherit; -webkit-transition: all .3s; transition: all .3s; }
.eg-posts--skin-default .eg-post__meta { list-style: none; margin: 10px 0 0; padding: 0; font-size: 14px; }
.eg-posts--skin-default .eg-post__meta li { display: inline-block; }
.eg-posts--skin-default .eg-post__meta li:not(:last-child) { margin-right: 20px; }
.eg-posts--skin-default .eg-post__excerpt { margin-top: 10px; }
.eg-posts--skin-default .eg-post__excerpt > p { margin: 0; }
.eg-posts--skin-default .eg-post__read-more { display: inline-block; color: #6EC1E4; margin-top: 10px; -webkit-transition: all .3s; transition: all .3s; }
.eg-posts--skin-horizontal .eg-post { position: relative; display: flex; flex-wrap: wrap; -webkit-transition: all .3s; transition: all .3s; margin-bottom: 0; }
.eg-posts--skin-horizontal .eg-post__thumbnail { width: 33.33%; }
.eg-posts--skin-horizontal .eg-post__featured { position: relative; overflow: hidden; background: #e5e5e5; padding-bottom: 100%; border-radius: 4px; }
.eg-posts--skin-horizontal .eg-post__featured img { position: absolute; width: 100%; height: 100%; object-fit: cover; }
.eg-posts--skin-horizontal .eg-post__content { width: 66.66%; padding-left: 20px; }
.eg-posts--skin-horizontal .eg-post__title { font-size: 22px; font-weight: 700; margin: 0; }
.eg-posts--skin-horizontal .eg-post__title a { color: inherit; -webkit-transition: all .3s; transition: all .3s; }
.eg-posts--skin-horizontal .eg-post__meta { list-style: none; margin: 10px 0 0; padding: 0; font-size: 14px; }
.eg-posts--skin-horizontal .eg-post__meta li { display: inline-block; }
.eg-posts--skin-horizontal .eg-post__meta li:not(:last-child) { margin-right: 20px; }
.eg-posts--skin-horizontal .eg-post__excerpt { margin-top: 10px; }
.eg-posts--skin-horizontal .eg-post__excerpt > p { margin: 0; }
.eg-posts--skin-horizontal .eg-post__read-more { display: inline-block; color: #6EC1E4; margin-top: 10px; -webkit-transition: all .3s; transition: all .3s; }
@media (max-width: 400px) { .eg-posts--skin-horizontal .eg-post__thumbnail { width: 100%; }
  .eg-posts--skin-horizontal .eg-post__content { width: 100%; padding: 20px 0 0; } }
.eg-posts--skin-creative .elementor-grid { grid-template-columns: repeat(4, 1fr); }
.eg-posts--skin-creative .elementor-grid .elementor-item { min-height: 250px; background-color: #EAEAEA; background-size: cover; background-position: center; }
.eg-posts--skin-creative .elementor-grid .elementor-item:first-child { grid-column: 1 / span 2; grid-row: 1 / span 2; }
@media (max-width: 1024.98px) { .eg-posts--skin-creative .elementor-grid { grid-template-columns: repeat(2, 1fr); }
  .eg-posts--skin-creative .elementor-grid .elementor-item:first-child { min-height: 500px; } }
@media (max-width: 767.98px) { .eg-posts--skin-creative .elementor-grid { grid-template-columns: repeat(1, 1fr); }
  .eg-posts--skin-creative .elementor-grid .elementor-item:first-child { grid-column: unset; grid-row: unset; } }
.eg-posts--skin-creative .eg-post { position: relative; overflow: hidden; border-radius: 10px; -webkit-transition: all .3s; transition: all .3s; margin-bottom: 0; }
.eg-posts--skin-creative .eg-post:first-child .eg-post__content { padding: 30px; }
.eg-posts--skin-creative .eg-post:first-child .eg-post__date { font-size: 18px; margin-bottom: 6px; }
.eg-posts--skin-creative .eg-post:first-child .eg-post__title { font-size: 30px; }
@media (max-width: 767.98px) { .eg-posts--skin-creative .eg-post:first-child .eg-post__content { padding: 15px; }
  .eg-posts--skin-creative .eg-post:first-child .eg-post__date { font-size: 16px; margin-bottom: 4px; }
  .eg-posts--skin-creative .eg-post:first-child .eg-post__title { font-size: 24px; } }
.eg-posts--skin-creative .eg-post__overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(180deg, rgba(21, 21, 21, 0) 0%, rgba(21, 21, 21, 0.4) 100%); z-index: 3; }
.eg-posts--skin-creative .eg-post__content { position: absolute; left: 0; bottom: 0; width: 100%; padding: 15px; z-index: 5; }
.eg-posts--skin-creative .eg-post__date { font-size: 14px; line-height: 1.5; color: #DADADA; margin-bottom: 4px; }
.eg-posts--skin-creative .eg-post__title { font-size: 18px; font-weight: 700; line-height: 1.5; color: #FFFFFF; margin: 0; }
.eg-posts--skin-creative .eg-post__title a { color: inherit; -webkit-transition: all .3s; transition: all .3s; }
.eg-posts--skin-sidu .elementor-grid .elementor-item { min-height: 420px; background-color: #e5e5e5; background-size: cover; background-position: center; }
.eg-posts--skin-sidu .eg-post { position: relative; overflow: hidden; -webkit-transition: all .3s; transition: all .3s; margin-bottom: 0; }
.eg-posts--skin-sidu .eg-post__overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #55555550; z-index: 3; }
.eg-posts--skin-sidu .eg-post__content { position: absolute; left: 0; bottom: 0; width: 100%; height: 100%; padding: 50px 40px 50px 70px; z-index: 5; display: flex; align-items: flex-end; justify-content: left; }
.eg-posts--skin-sidu .eg-post__box { width: 100%; }
.eg-posts--skin-sidu .eg-post__date { font-size: 16px; font-weight: bold; line-height: 1.32em; color: #FFFFFF; margin-bottom: 6px; }
.eg-posts--skin-sidu .eg-post__title { font-size: 30px; font-weight: 700; line-height: 1.32em; color: #FFFFFF; margin: 0; }
.eg-posts--skin-sidu .eg-post__title a { color: inherit; -webkit-transition: all .3s; transition: all .3s; }
.eg-posts--skin-sidu .eg-post__meta { margin-top: 16px; font-size: 16px; font-weight: bold; line-height: 1.32em; color: #FFFFFF; vertical-align: middle; }
.eg-posts--skin-sidu .eg-post__meta img { vertical-align: middle; min-width: 40px; height: auto; border-radius: 50%; margin-right: 10px; }
.eg-posts--skin-sidu .eg-post__category { position: absolute; top: 50px; left: auto; right: 40px; font-size: 13px; line-height: 1.3em; font-weight: bold; text-transform: uppercase; color: #FFFFFF; }
.eg-posts--skin-sidu .eg-post__category a { display: inline-block; margin: 2px; padding: 10px 20px; color: inherit; font-size: inherit; background: #7567F8; }
.eg-posts--skin-qingshui .eg-post { position: relative; -webkit-transition: all .3s; transition: all .3s; margin-bottom: 0; }
.eg-posts--skin-qingshui .eg-post.has-date { padding-left: 40px; }
.eg-posts--skin-qingshui .eg-post__thumbnail { position: relative; }
.eg-posts--skin-qingshui .eg-post__featured { position: relative; overflow: hidden; background: #e5e5e5; padding-bottom: 66%; }
.eg-posts--skin-qingshui .eg-post__featured img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.eg-posts--skin-qingshui .eg-post__date { position: absolute; bottom: 12%; left: -40px; min-width: 80px; text-align: center; color: #FFFFFF; background: #1F2334; overflow: hidden; border-radius: 5px; }
.eg-posts--skin-qingshui .eg-post__date .day { display: block; font-size: 36px; font-weight: 700; line-height: 1; padding: 10px 4px 8px; }
.eg-posts--skin-qingshui .eg-post__date .month { display: block; font-size: 14px; font-weight: 700; line-height: 1; text-transform: uppercase; color: #12141D; background: #F7E406; padding: 8px 4px; }
.eg-posts--skin-qingshui .eg-post__content { padding: 30px; }
@media (max-width: 420px) { .eg-posts--skin-qingshui .eg-post__content { padding: 30px 0 0; } }
.eg-posts--skin-qingshui .eg-post__category { font-size: 14px; line-height: 1.5; text-transform: uppercase; color: #F7E406; margin-bottom: 10px; }
.eg-posts--skin-qingshui .eg-post__category a { color: inherit; }
.eg-posts--skin-qingshui .eg-post__category svg { display: inline-block; vertical-align: middle; margin: -2px 8px 0 0; width: 16px; height: 16px; }
.eg-posts--skin-qingshui .eg-post__title { font-size: 22px; font-weight: 600; line-height: 1.3; color: #12141D; margin: 0; }
.eg-posts--skin-qingshui .eg-post__title a { color: inherit; -webkit-transition: all .3s; transition: all .3s; }
.eg-posts--skin-qingshui .eg-post__meta { list-style: none; margin: 20px 0 0; padding: 0; font-size: 14px; line-height: 1.5; text-transform: uppercase; color: #F7E406; }
.eg-posts--skin-qingshui .eg-post__meta li { display: inline-block; }
.eg-posts--skin-qingshui .eg-post__meta li:not(:last-child) { margin-right: 20px; }
.eg-posts--skin-qingshui .eg-post__meta li svg { vertical-align: middle; margin: -2px 4px 0 0; width: 16px; height: 16px; }
.eg-posts--skin-duge .eg-post { text-align: center; position: relative; -webkit-transition: all .3s; transition: all .3s; margin-bottom: 0; }
.eg-posts--skin-duge .eg-post.has-date { padding-left: 0; }
.eg-posts--skin-duge .eg-post__thumbnail { position: relative; }
.eg-posts--skin-duge .eg-post__featured { position: relative; overflow: hidden; background: #e5e5e5; padding-bottom: 66%; }
.eg-posts--skin-duge .eg-post__featured img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.eg-posts--skin-duge .eg-post__date { position: absolute; bottom: -12px; left: 50%; transform: translateX(-50%); min-width: 80px; text-align: center; color: #FFFFFF; background: #D59578; overflow: hidden; }
.eg-posts--skin-duge .eg-post__date .day { display: block; font-size: 30px; font-weight: 700; line-height: 1; padding: 10px 4px 8px; }
.eg-posts--skin-duge .eg-post__date .month { display: block; font-size: 14px; font-weight: 400; line-height: 1; text-transform: uppercase; color: #FFFFFF; padding: 8px 4px 10px; }
.eg-posts--skin-duge .eg-post__content { padding: 30px; }
@media (max-width: 420px) { .eg-posts--skin-duge .eg-post__content { padding: 30px 0 0; } }
.eg-posts--skin-duge .eg-post__category { font-size: 14px; line-height: 1.5; text-transform: uppercase; color: #D59578; margin: 20px 0 0; }
.eg-posts--skin-duge .eg-post__category a { color: inherit; }
.eg-posts--skin-duge .eg-post__category svg { display: inline-block; vertical-align: middle; margin: -2px 8px 0 0; width: 16px; height: 16px; }
.eg-posts--skin-duge .eg-post__title { font-size: 22px; font-weight: 400; line-height: 1.3; color: #12141D; text-transform: capitalize; margin: 0; }
.eg-posts--skin-duge .eg-post__title a { color: inherit; -webkit-transition: all .3s; transition: all .3s; }
.eg-posts--skin-duge .eg-post__meta { list-style: none; margin-bottom: 10px; padding: 0; font-size: 14px; line-height: 1.5; text-transform: uppercase; color: #D59578; }
.eg-posts--skin-duge .eg-post__meta li { display: inline-block; padding-bottom: 2px; }
.eg-posts--skin-duge .eg-post__meta li:not(:last-child) { margin-right: 20px; }
.eg-posts--skin-duge .eg-post__meta li svg { vertical-align: middle; margin: -2px 4px 0 0; width: 16px; height: 16px; }
.eg-posts--skin-puli .eg-post { position: relative; -webkit-transition: all .3s; transition: all .3s; margin-bottom: 0; }
.eg-posts--skin-puli .eg-post.has-date { padding-left: 0; }
.eg-posts--skin-puli .eg-post__thumbnail { position: relative; }
.eg-posts--skin-puli .eg-post__featured { position: relative; overflow: hidden; background: #e5e5e5; padding-bottom: 66%; }
.eg-posts--skin-puli .eg-post__featured img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.eg-posts--skin-puli .eg-post__date { display: inline-block; min-width: 80px; height: max-content; text-align: center; color: #FFFFFF; background: #163967; overflow: hidden; }
.eg-posts--skin-puli .eg-post__date .day { display: block; font-size: 30px; font-weight: 700; line-height: 1; padding: 10px 4px 8px; }
.eg-posts--skin-puli .eg-post__date .month { display: block; font-size: 14px; font-weight: 400; line-height: 1; text-transform: uppercase; color: #FFFFFF; background: #EF3D5B; padding: 8px 4px 10px; }
.eg-posts--skin-puli .eg-post__content { padding: 20px 0 0; display: flex; }
@media (max-width: 420px) { .eg-posts--skin-puli .eg-post__content { padding: 30px 0 0; } }
.eg-posts--skin-puli .eg-post__box { padding: 20px 0 0 20px; }
.eg-posts--skin-puli .eg-post__category { font-size: 14px; line-height: 1.5; text-transform: uppercase; color: #EF3D5B; margin: 20px 0 0; }
.eg-posts--skin-puli .eg-post__category a { color: inherit; }
.eg-posts--skin-puli .eg-post__category svg { display: inline-block; vertical-align: middle; margin: -2px 8px 0 0; width: 16px; height: 16px; }
.eg-posts--skin-puli .eg-post__title { font-size: 22px; font-weight: 600; line-height: 1.3; color: #163967; text-transform: capitalize; margin: 0; }
.eg-posts--skin-puli .eg-post__title a { color: inherit; -webkit-transition: all .3s; transition: all .3s; }
.eg-posts--skin-puli .eg-post__meta { list-style: none; margin-bottom: 10px; padding: 0; font-size: 14px; line-height: 1.5; text-transform: uppercase; color: #EF3D5B; }
.eg-posts--skin-puli .eg-post__meta li { display: inline-block; padding-bottom: 2px; }
.eg-posts--skin-puli .eg-post__meta li:not(:last-child) { margin-right: 20px; }
.eg-posts--skin-puli .eg-post__meta li svg { vertical-align: middle; margin: -2px 4px 0 0; width: 16px; height: 16px; }
.eg-posts--skin-yachi .elementor-grid { display: grid; grid-template-columns: repeat(3, 1fr); }
.eg-posts--skin-yachi .elementor-grid .elementor-item:first-child { grid-column: 1 / span 3; grid-row: 1 / span 2; display: flex; }
.eg-posts--skin-yachi .elementor-grid .elementor-item:first-child .eg-post__thumbnail { width: 50%; }
.eg-posts--skin-yachi .elementor-grid .elementor-item:first-child .eg-post__thumbnail .eg-post__date { top: 24px; left: auto; right: -40px; }
.eg-posts--skin-yachi .elementor-grid .elementor-item:first-child .eg-post__content { width: 50%; padding-top: 24px; padding-left: 64px; }
.eg-posts--skin-yachi .elementor-grid .elementor-item:first-child .eg-post__content .eg-post__title { font-size: 32px; line-height: 1.28em; }
.eg-posts--skin-yachi .elementor-grid .elementor-item:first-child .eg-post__content .eg-post__read-more { margin-top: 40px; font-size: 24px; padding: 20px 22px; }
@media (max-width: 1024.98px) { .eg-posts--skin-yachi .elementor-grid { grid-template-columns: repeat(2, 1fr); }
  .eg-posts--skin-yachi .elementor-grid .elementor-item:first-child { grid-column: 1 / span 2; grid-row: 1 / span 2; }
  .eg-posts--skin-yachi .elementor-grid .elementor-item:first-child .eg-post__thumbnail .eg-post__date { right: -30px; }
  .eg-posts--skin-yachi .elementor-grid .elementor-item:first-child .eg-post__content { padding-left: 50px; }
  .eg-posts--skin-yachi .elementor-grid .elementor-item:first-child .eg-post__content .eg-post__title { font-size: 30px; }
  .eg-posts--skin-yachi .elementor-grid .elementor-item:first-child .eg-post__content .eg-post__read-more { margin-top: 30px; font-size: 22px; padding: 18px 20px; } }
@media (max-width: 767.98px) { .eg-posts--skin-yachi .elementor-grid { grid-template-columns: repeat(1, 1fr); }
  .eg-posts--skin-yachi .elementor-grid .elementor-item:first-child { grid-column: 1 / span 1; grid-row: 1 / span 1; flex-direction: column; }
  .eg-posts--skin-yachi .elementor-grid .elementor-item:first-child .eg-post__thumbnail { width: 100%; }
  .eg-posts--skin-yachi .elementor-grid .elementor-item:first-child .eg-post__thumbnail .eg-post__date { top: 15px; left: 15px; right: auto; }
  .eg-posts--skin-yachi .elementor-grid .elementor-item:first-child .eg-post__content { width: 100%; padding-left: 0; }
  .eg-posts--skin-yachi .elementor-grid .elementor-item:first-child .eg-post__content .eg-post__title { font-size: 24px; }
  .eg-posts--skin-yachi .elementor-grid .elementor-item:first-child .eg-post__content .eg-post__read-more { margin-top: 20px; font-size: 20px; padding: 16px 18px; } }
.eg-posts--skin-yachi .eg-post { position: relative; -webkit-transition: all .3s; transition: all .3s; margin-bottom: 0; }
.eg-posts--skin-yachi .eg-post.has-date { padding-left: 0; }
.eg-posts--skin-yachi .eg-post__thumbnail { position: relative; }
.eg-posts--skin-yachi .eg-post__featured { position: relative; overflow: hidden; background: #e5e5e5; border-radius: 10px; padding-bottom: 66%; }
.eg-posts--skin-yachi .eg-post__featured img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; max-height: none; }
.eg-posts--skin-yachi .eg-post__date { position: absolute; top: 15px; left: 15px; border-radius: 10px; display: inline-block; min-width: 80px; height: max-content; text-align: center; color: #FFFFFF; background: #F64D52; overflow: hidden; }
.eg-posts--skin-yachi .eg-post__date .day { display: block; font-size: 36px; font-weight: 700; line-height: 1; padding: 10px 4px 6px; }
.eg-posts--skin-yachi .eg-post__date .month { display: block; font-size: 16px; font-weight: 400; line-height: 1; text-transform: uppercase; color: #FFFFFF; background: #F64D52; padding: 6px 4px 12px; }
.eg-posts--skin-yachi .eg-post__content { padding: 24px 0 0; }
@media (max-width: 420px) { .eg-posts--skin-yachi .eg-post__content { padding: 30px 0 0; } }
.eg-posts--skin-yachi .eg-post__title { font-size: 22px; font-weight: 600; line-height: 1.3; color: #163967; text-transform: capitalize; margin: 0; }
.eg-posts--skin-yachi .eg-post__title a { color: inherit; -webkit-transition: all .3s; transition: all .3s; }
.eg-posts--skin-yachi .eg-post__excerpt { margin-top: 12px; font-size: 18px; color: #555555; line-height: 1.53em; }
.eg-posts--skin-yachi .eg-post__excerpt p { margin: 0; }
.eg-posts--skin-yachi .eg-post__meta { list-style: none; margin-bottom: 0; padding: 0; font-size: 14px; line-height: 1.5; text-transform: uppercase; color: #EF3D5B; }
.eg-posts--skin-yachi .eg-post__meta li { display: inline-block; padding-bottom: 2px; }
.eg-posts--skin-yachi .eg-post__meta li:not(:last-child) { margin-right: 20px; }
.eg-posts--skin-yachi .eg-post__meta li svg { vertical-align: middle; margin: -2px 4px 0 0; width: 16px; height: 16px; }
.eg-posts--skin-yachi .eg-post__read-more { margin-top: 24px; display: inline-block; line-height: 1; font-size: 20px; color: inherit; padding: 16px 18px; border-radius: 10px; background: #EFECEA; }
