.eg-projects--skin-default .eg-project { position: relative; overflow: hidden; display: flex; flex-direction: column; text-align: center; -webkit-transition: all .3s; transition: all .3s; }
.eg-projects--skin-default .eg-project__featured { position: relative; overflow: hidden; background: #EEEEEE; padding-bottom: 66%; border-radius: 4px; }
.eg-projects--skin-default .eg-project__featured img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; -webkit-transition: all .3s; transition: all .3s; }
.eg-projects--skin-default .eg-project__content { padding-top: 20px; }
.eg-projects--skin-default .eg-project__title { font-size: 22px; margin: 0; }
.eg-projects--skin-default .eg-project__title a { color: inherit; -webkit-transition: all .3s; transition: all .3s; }
.eg-projects--skin-default .eg-project__category { margin-top: 4px; }
.eg-projects--skin-default .eg-project__category a { color: inherit; }
.eg-projects--skin-sidu .eg-project { text-align: left; position: relative; overflow: hidden; display: flex; flex-direction: column; -webkit-transition: all .3s; transition: all .3s; }
.eg-projects--skin-sidu .eg-project:hover .eg-project__featured:before { display: block; }
.eg-projects--skin-sidu .eg-project:hover .eg-project__featured:after { display: block; }
.eg-projects--skin-sidu .eg-project__featured { position: relative; overflow: hidden; background: #EEEEEE; padding-bottom: 66%; transition: all 0.3s; }
.eg-projects--skin-sidu .eg-project__featured:before { content: ''; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: rgba(0, 0, 0, 0.5); z-index: 2; display: none; transition: all 0.3s; }
.eg-projects--skin-sidu .eg-project__featured:after { content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-image: url("data:image/svg+xml,%3Csvg width='18' height='9' viewBox='0 0 18 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.3571 4.54129C17.3571 4.45089 17.317 4.37054 17.2567 4.31027L13.3996 0.794642C13.2991 0.714285 13.1685 0.694196 13.048 0.744419C12.9275 0.794642 12.8571 0.905133 12.8571 1.03571V3.28571H0.321429C0.140625 3.28571 0 3.42634 0 3.60714V5.53571C0 5.71652 0.140625 5.85714 0.321429 5.85714H12.8571V8.10714C12.8571 8.23772 12.9375 8.34821 13.048 8.39844C13.1685 8.44866 13.2991 8.42857 13.3996 8.33817L17.2567 4.78237C17.317 4.7221 17.3571 4.6317 17.3571 4.54129Z' fill='white'/%3E%3C/svg%3E%0A"); background-position: center; background-repeat: no-repeat; background-size: 18px; width: 52px; height: 52px; background-color: #7567F8; z-index: 2; display: none; transition: all 0.3s; }
.eg-projects--skin-sidu .eg-project__featured img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; -webkit-transition: all .3s; transition: all .3s; z-index: 1; }
.eg-projects--skin-sidu .eg-project__content { padding: 30px; }
.eg-projects--skin-sidu .eg-project__title { font-size: 22px; color: #222222; font-weight: bold; text-transform: capitalize; margin: 0; }
.eg-projects--skin-sidu .eg-project__title a { color: inherit; -webkit-transition: all .3s; transition: all .3s; }
.eg-projects--skin-sidu .eg-project__category { margin-top: 4px; font-size: 16px; line-height: 150%; font-weight: 500; color: #555555; }
.eg-projects--skin-sidu .eg-project__category a { color: inherit; }
