.eg-relaunch-plan--skin-default { overflow: auto; }
.eg-relaunch-plan--skin-default::-webkit-scrollbar { width: 8px; height: 8px; }
.eg-relaunch-plan--skin-default::-webkit-scrollbar-thumb { background: #B3AFB3; border-radius: 8px; }
.eg-relaunch-plan--skin-default::-webkit-scrollbar-thumb:hover { background: #B3AFB3; }
.eg-relaunch-plan--skin-default::-webkit-scrollbar-track { background: #F0F0F0; border-radius: 8px; -webkit-box-shadow: inset 0px 0px 0px 0px #F0F0F0; box-shadow: inset 0px 0px 0px 0px #F0F0F0; }
.eg-relaunch-plan--skin-default .eg-phases { display: flex; padding: 15px 0; }
.eg-relaunch-plan--skin-default .eg-phase { min-width: 320px; }
.eg-relaunch-plan--skin-default .eg-phase:not(:last-child) { margin-right: 30px; }
.eg-relaunch-plan--skin-default .eg-phase .eg-count { font-size: 24px; font-weight: 700; line-height: 1.5; color: #6EC1E4; }
.eg-relaunch-plan--skin-default .eg-phase .eg-title { font-size: 30px; font-weight: 700; line-height: 1.4; color: #151515; margin: 0; }
.eg-relaunch-plan--skin-default .eg-phase .eg-content { font-size: 18px; line-height: 1.56; color: #151515; margin-top: 15px; }
.eg-relaunch-plan--skin-default .eg-phase .eg-content > *:first-child { margin-top: 0; }
.eg-relaunch-plan--skin-default .eg-phase .eg-content > *:last-child { margin-bottom: 0; }
.eg-relaunch-plan--skin-default .eg-phase .eg-content ul { padding-left: 20px; column-count: 2; column-gap: 30px; }
.eg-relaunch-plan--skin-default .eg-phase .eg-content ul li { margin-bottom: 5px; }
.eg-relaunch-plan--skin-vertical { display: flex; padding: 40px 0 40px 30px; }
.eg-relaunch-plan--skin-vertical .eg-line { position: relative; width: 4px; background: #EEEEEE; border-radius: 5px; }
.eg-relaunch-plan--skin-vertical .eg-line .eg-label { position: absolute; bottom: calc(100% + 10px); left: 50%; font-size: 24px; font-weight: 700; line-height: 1.5; color: #151515; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.eg-relaunch-plan--skin-vertical .eg-line .eg-label.eg-end-label { top: calc(100% + 10px); bottom: auto; }
.eg-relaunch-plan--skin-vertical .eg-phases { width: calc(100% - 4px); }
.eg-relaunch-plan--skin-vertical .eg-phases .eg-phase { position: relative; padding: 0 0 30px 115px; }
.eg-relaunch-plan--skin-vertical .eg-phases .eg-phase:before { content: ""; position: absolute; top: 10px; left: -11px; width: 18px; height: 18px; background: #6EC1E4; border: 2px solid #EEEEEE; border-radius: 10px; -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
.eg-relaunch-plan--skin-vertical .eg-phases .eg-phase:after { content: ""; position: absolute; top: 18px; left: 20px; width: 78px; height: 1px; background: #EEEEEE; }
.eg-relaunch-plan--skin-vertical .eg-phases .eg-phase .eg-count { font-size: 24px; font-weight: 700; line-height: 1.5; color: #6EC1E4; }
.eg-relaunch-plan--skin-vertical .eg-phases .eg-phase .eg-title { font-size: 30px; font-weight: 700; line-height: 1.4; color: #151515; margin: 0; }
.eg-relaunch-plan--skin-vertical .eg-phases .eg-phase .eg-content { font-size: 18px; line-height: 1.56; color: #151515; margin-top: 15px; }
.eg-relaunch-plan--skin-vertical .eg-phases .eg-phase .eg-content > *:first-child { margin-top: 0; }
.eg-relaunch-plan--skin-vertical .eg-phases .eg-phase .eg-content > *:last-child { margin-bottom: 0; }
.eg-relaunch-plan--skin-vertical .eg-phases .eg-phase .eg-content ul { padding-left: 20px; column-count: 2; column-gap: 30px; }
.eg-relaunch-plan--skin-vertical .eg-phases .eg-phase .eg-content ul li { margin-bottom: 5px; }
@media (max-width: 1199.98px) { .eg-relaunch-plan--skin-vertical .eg-line .eg-label { font-size: 20px; }
  .eg-relaunch-plan--skin-vertical .eg-phases .eg-phase { padding-left: 85px; }
  .eg-relaunch-plan--skin-vertical .eg-phases .eg-phase:before { top: 6px; }
  .eg-relaunch-plan--skin-vertical .eg-phases .eg-phase:after { top: 15px; width: 50px; }
  .eg-relaunch-plan--skin-vertical .eg-phases .eg-phase .eg-count { font-size: 20px; }
  .eg-relaunch-plan--skin-vertical .eg-phases .eg-phase .eg-title { font-size: 24px; }
  .eg-relaunch-plan--skin-vertical .eg-phases .eg-phase .eg-content { font-size: 16px; } }
@media (max-width: 767.98px) { .eg-relaunch-plan--skin-vertical .eg-line .eg-label { font-size: 18px; }
  .eg-relaunch-plan--skin-vertical .eg-phases .eg-phase { padding-left: 55px; }
  .eg-relaunch-plan--skin-vertical .eg-phases .eg-phase:before { top: 4px; }
  .eg-relaunch-plan--skin-vertical .eg-phases .eg-phase:after { top: 13px; width: 20px; }
  .eg-relaunch-plan--skin-vertical .eg-phases .eg-phase .eg-count { font-size: 18px; }
  .eg-relaunch-plan--skin-vertical .eg-phases .eg-phase .eg-title { font-size: 20px; }
  .eg-relaunch-plan--skin-vertical .eg-phases .eg-phase .eg-content { font-size: 16px; }
  .eg-relaunch-plan--skin-vertical .eg-phases .eg-phase .eg-content ul { column-count: unset; column-gap: unset; } }
