.eg-reviews .eg-review-item { text-align: center; position: relative; overflow: hidden; -webkit-transition: all .3s; transition: all .3s; }
.eg-reviews .eg-review-thumbnail { line-height: 0; overflow: hidden; border-radius: 4px; }
.eg-reviews .eg-review-thumbnail img { width: 100%; -webkit-transition: all .3s; transition: all .3s; }
.eg-reviews .eg-review-content { position: relative; padding-top: 20px; }
.eg-reviews .eg-review-content .eg-review__meta { display: inline-block; width: max-content; height: max-content; line-height: 1; font-size: 16px; margin-bottom: 8px; z-index: 2; -webkit-transition: all 0.3s; transition: all 0.3s; }
.eg-reviews .eg-review-content .eg-review__meta a { display: inline-block; color: inherit; -webkit-transition: all 0.3s; transition: all 0.3s; }
.eg-reviews .eg-review-content .eg-review__meta i, .eg-reviews .eg-review-content .eg-review__meta svg { height: auto; -webkit-transition: all 0.3s; transition: all 0.3s; }
.eg-reviews .eg-review-content .eg-review__meta--icon-before i, .eg-reviews .eg-review-content .eg-review__meta--icon-before svg { margin-right: 8px; }
.eg-reviews .eg-review-content .eg-review__meta--icon-after i, .eg-reviews .eg-review-content .eg-review__meta--icon-after svg { margin-left: 8px; }
.eg-reviews .eg-review-content .eg-review__title { margin-top: 0; font-size: 22px; }
.eg-reviews .eg-review-content .eg-review__title a { color: inherit; -webkit-transition: all .3s; transition: all .3s; }
.eg-reviews .eg-review-content .eg-review-rating-wrapper { line-height: 1; }
.eg-reviews .eg-review-content .eg-review-rating-wrapper .eg-review__rating-title { margin-left: 8px; font-weight: 500; }
.eg-reviews .eg-review-content .eg-review__read-more { margin-top: 20px; display: inline-block; color: #6EC1E4; -webkit-transition: all .3s; transition: all 0.3s; }
.eg-reviews .eg-review-content .eg-review__read-more i { color: inherit; display: inline-block; }
.eg-reviews .eg-review-content .eg-review__read-more svg { height: auto; }
.eg-reviews .eg-review-content .eg-read-more--icon-before .eg-icon { margin-right: 6px; }
.eg-reviews .eg-review-content .eg-read-more--icon-after .eg-icon { margin-left: 6px; }
.eg-reviews.skin-cards .eg-review-item { border-radius: 30px; padding: 20px 20px 20px 20px; background-color: #FAFAFA; text-align: left; }
.eg-reviews.skin-cards .eg-review-item .eg-review-thumbnail { border-radius: 25px; }
.eg-reviews.skin-cards .eg-review-item .eg-review-content { padding-top: 36px; }
.eg-reviews.skin-cards .eg-review-item .eg-review-content .eg-review__meta { position: absolute; top: 0; left: 50%; transform: translate(-50%, -50%); border-radius: 8px 8px 8px 8px; padding: 8px 10px 8px 10px; background-color: #D8E7D0; }
.eg-reviews.skin-cards .eg-review-item .eg-review-content .eg-review__read-more { display: flex; align-items: center; justify-content: space-between; }
.eg-reviews.skin-cards .eg-review-item .eg-review-content .eg-review__read-more .eg-icon { font-size: 16px; padding: 0.5em; background-color: #3A8914; color: #FFFFFF; border-radius: 50%; line-height: 0; }
.eg-reviews.skin-cards .eg-review-item .eg-review-content .eg-review__read-more i { font-size: 16px; width: 1em; height: 1em; display: inline-block; line-height: 1; position: relative; }

.eg-reviews--alignment-center .eg-reviews .eg-review-item { text-align: center; }
.eg-reviews--alignment-center .eg-reviews .eg-review-item .eg-review__read-more { justify-content: center; }

.eg-reviews--alignment-left .eg-reviews .eg-review-item { text-align: left; }
.eg-reviews--alignment-left .eg-reviews .eg-review-item .eg-review__read-more { justify-content: left; }

.eg-reviews--alignment-right .eg-reviews .eg-review-item { text-align: right; }
.eg-reviews--alignment-right .eg-reviews .eg-review-item .eg-review__read-more { justify-content: right; }

.eg-read-more--extra-link-view-stacked .eg-reviews .eg-review__read-more { color: #FFFFFF; background: #6EC1E4; padding: 8px 18px; border-radius: 4px; }

.eg-read-more--extra-link-view-framed .eg-reviews .eg-review__read-more { color: #6EC1E4; padding: 7px 17px; border: 1px solid #6EC1E4; border-radius: 4px; }
