.eg-scrolling-list { overflow: hidden; }
.eg-scrolling-list .eg-scroll-text { width: 100%; overflow: hidden; white-space: nowrap; -ms-overflow-style: none; scrollbar-width: none; font-size: 24px; }
.eg-scrolling-list .eg-scroll-text::-webkit-scrollbar { display: none; }
