.eg-step-list .eg-step-box { position: relative; overflow: hidden; text-align: center; }
.eg-step-list .eg-step-box .eg-step-number-box { display: flex; justify-content: center; }
.eg-step-list .eg-step-box .eg-step-number { font-weight: bold; font-size: 36px; line-height: 1.2; margin-bottom: 15px; color: #6EC1E4; }
.eg-step-list .eg-step-box .eg-step-title { margin: 0; font-size: 22px; }
.eg-step-list .eg-step-box p { margin-top: 15px; margin-bottom: 0; }

.eg-step-list--number-view-stacked .eg-step-number, .eg-step-list--number-view-framed .eg-step-number { padding: 1em; border-radius: 50%; width: 1em; height: 1em; display: flex; justify-content: center; align-items: center; font-weight: bold; }

.eg-step-list--number-view-stacked .eg-step-box .eg-step-number-box .eg-step-number { background-color: #6EC1E4; color: #FFFFFF; }

.eg-step-list--number-view-framed .eg-step-box .eg-step-number-box .eg-step-number { background-color: transparent; border: 2px solid #6EC1E4; color: #6EC1E4; }

.eg-step-list--number-position-left .eg-step-box { display: flex; text-align: left; }
.eg-step-list--number-position-left .eg-step-box .eg-step-number { margin-right: 16px; margin-bottom: 0; }

.eg-step-list--number-position-center .eg-step-box { display: flex; flex-direction: column; text-align: center; }
.eg-step-list--number-position-center .eg-step-box .eg-step-number-box { justify-content: center; }

.eg-step-list--number-position-right .eg-step-box { display: flex; flex-direction: row-reverse; text-align: right; }
.eg-step-list--number-position-right .eg-step-box .eg-step-number { margin-left: 16px; margin-bottom: 0; }

.eg-icon-box--horizontal-align-left .eg-step-list .eg-step-box { justify-content: left; }
.eg-icon-box--horizontal-align-left .eg-step-list .eg-step-box .eg-step-number-box { justify-content: flex-start; }

.eg-icon-box--horizontal-align-center .eg-step-list .eg-step-box { justify-content: center; }

.eg-icon-box--horizontal-align-right .eg-step-list .eg-step-box { justify-content: right; }
.eg-icon-box--horizontal-align-right .eg-step-list .eg-step-box .eg-step-number-box { justify-content: flex-end; }
