.eg-swiper-button--view-stacked .eg-swiper-button { color: #FFFFFF; background: #000000; padding: 10px; border-radius: 50%; }

.eg-swiper-button--view-framed .eg-swiper-button { color: #000000; background: #FFFFFF; padding: 9px; border: 1px solid #000000; border-radius: 50%; }

.eg-swiper-button { position: absolute; top: 50%; left: 15px; display: inline-flex; align-items: center; justify-content: center; font-size: 16px; line-height: 1; text-align: center; color: #000000; cursor: pointer; z-index: 5; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transition: all .3s; transition: all .3s; }
.eg-swiper-button.eg-swiper-button-next { left: auto; right: 15px; }
.eg-swiper-button i, .eg-swiper-button svg { width: 1em; height: 1em; }
.eg-swiper-button i:before, .eg-swiper-button svg:before { position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.eg-swiper-button.swiper-button-disabled { opacity: 0.4; }

.eg-swiper-pagination { position: absolute; bottom: 0; left: 50%; width: 100%; line-height: 0; text-align: center; z-index: 5; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.eg-swiper-pagination .swiper-pagination-bullet { width: 8px; height: 8px; background: #C4C4C4; opacity: 1; margin: 4px; }
.eg-swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active { background: #000000; }

.swiper-container.has-pagination { padding-bottom: 40px; }

.has-pagination ~ .eg-swiper-button { margin-top: -20px; }

.swiper-slide { overflow: visible; }
.swiper-slide .eg-thumbnail { overflow: hidden; display: flex; align-items: center; justify-content: center; }
